Repository bagherilab/ARCADE, pull requests merged in 2024-11, with the labels that each got.

#97 Implement cell cycle length tracking
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/module/PatchModule.java
  src/arcade/patch/agent/module/PatchModuleProliferation.java
  test/arcade/patch/agent/cell/PatchCellTest.java
Labels: package: patch, migration: v2 to v3, category: agent

#114 Add apoptosis age to induce change to apoptotic state
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/cell/PatchCellCancerStem.java
  src/arcade/patch/parameter.patch.xml
  test/arcade/patch/agent/cell/PatchCellCancerStemTest.java
  test/arcade/patch/agent/cell/PatchCellTest.java
Labels: package: patch, migration: v2 to v3, category: agent

#115 Add getString method to Parameters class
  src/arcade/core/util/Parameters.java
  test/arcade/core/util/ParametersTest.java
Labels: priority: high, package: core, category: util

#118 Add publication abstracts to docs
  docs/Gemfile.lock
  docs/_config.yml
  docs/_publications/2020_06_emergent_behavior.md
  docs/_publications/2021_08_vascular_dynamics.md
  docs/_publications/2022_07_cart_cells.md
  docs/_publications/2024_03_modeling_choices.md
  docs/_publications/2024_08_cellular_potts.md
  docs/changelog.md
  docs/publications.md
Labels: type: docs, size: xmall

#112 Update minibox filter function to support multiple tag separators
  src/arcade/core/util/MiniBox.java
  test/arcade/core/util/MiniBoxTest.java
Labels: priority: high, package: core, category: util

#117 Add rotateVectorAroundAxis function to Plane class with tests
  src/arcade/potts/env/location/Plane.java
  test/arcade/potts/env/location/PlaneTest.java
Labels: priority: high, type: feature, package: potts, category: env
