Repository bagherilab/ARCADE, pull requests merged in 2024-12, with the labels that each got.

#124 Add emulation paper to publications
  docs/_publications/2024_03_network_emulation.md
Labels: priority: low, type: docs, size: xsmall

#119 Add setup file documentation
  README.md
  docs/Gemfile.lock
  docs/_config.yml
  docs/_sass/custom/custom.scss
  docs/changelog.md
  docs/publications.md
  docs/setup/actions/creation.md
  docs/setup/actions/parameter.md
  docs/setup/actions/register.md
  docs/setup/agent_actions.md
  docs/setup/agent_actions_patch.md
  docs/setup/agent_actions_potts.md
  docs/setup/cell_populations.md
  docs/setup/cell_populations_patch.md
  docs/setup/cell_populations_potts.md
  docs/setup/components/creation.md
  docs/setup/components/parameter.md
  docs/setup/components/register.md
  docs/setup/environment_components.md
  docs/setup/environment_components_patch.md
  docs/setup/environment_components_potts.md
  docs/setup/implementation_setup.md
  docs/setup/implementation_setup_patch.md
  docs/setup/implementation_setup_potts.md
  docs/setup/index.md
  docs/setup/lattice_layers.md
  docs/setup/lattice_layers_patch.md
  docs/setup/lattice_layers_potts.md
  docs/setup/layers/initialization.md
  docs/setup/layers/operation.md
  docs/setup/layers/parameter.md
  docs/setup/populations/initialization.md
  docs/setup/populations/link.md
  docs/setup/populations/parameter.md
  docs/setup/populations/process.md
  docs/setup/populations/region.md
  docs/setup/set_and_series.md
  docs/setup/set_and_series_examples.md
  docs/setup/set_and_series_patch.md
  docs/setup/set_and_series_potts.md
Labels: type: docs, size: medium

#129 Bump action versions and update docs workflow trigger
  .github/workflows/documentation.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: type: admin, size: xsmall

#132 Add flags to print CLI usage help message and version
  src/arcade/core/ARCADE.java
  src/arcade/core/command.xml
  src/arcade/core/sim/input/InputParser.java
  test/arcade/core/ARCADETest.java
  test/arcade/core/sim/input/InputParserTest.java
Labels: type: feature, size: small

#134 Update free locations method
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/cell/PatchCellCancer.java
  src/arcade/patch/agent/module/PatchModuleApoptosis.java
  src/arcade/patch/agent/module/PatchModuleMigration.java
  src/arcade/patch/agent/module/PatchModuleProliferation.java
  src/arcade/patch/env/lattice/PatchLattice.java
  src/arcade/patch/env/location/PatchLocation.java
  src/arcade/patch/env/location/PatchLocationHex.java
  src/arcade/patch/env/location/PatchLocationRect.java
  src/arcade/patch/parameter.patch.xml
  src/arcade/patch/sim/input/PatchInputBuilder.java
  test/arcade/patch/agent/cell/PatchCellCancerStemTest.java
  test/arcade/patch/agent/cell/PatchCellTest.java
  test/arcade/patch/env/location/PatchLocationHexTest.java
  test/arcade/patch/env/location/PatchLocationRectTest.java
Labels: package: patch, migration: v2 to v3, category: agent, category: env, size: medium
