Repository bagherilab/ARCADE, pull requests merged in 2024-10, with the labels that each got.

#18 Remove apoptosis checkpoint for potts cells
  src/arcade/potts/agent/module/PottsModuleApoptosisSimple.java
  test/arcade/potts/agent/module/PottsModuleApoptosisSimpleTest.java
Labels: type: bug

#53 Add support for initialization by percentage
  src/arcade/patch/agent/cell/PatchCellFactory.java
  src/arcade/patch/sim/PatchSeries.java
  src/arcade/patch/sim/input/PatchInputBuilder.java
  test/arcade/patch/agent/cell/PatchCellFactoryTest.java
  test/arcade/patch/sim/PatchSeriesTest.java
Labels: type: feature, package: patch

#46 add custom plane splitvoxels
  src/arcade/potts/env/location/Plane.java
  src/arcade/potts/env/location/PottsLocation.java
  src/arcade/potts/util/PottsEnums.java
  test/arcade/potts/env/location/PlaneTest.java
  test/arcade/potts/env/location/PottsLocationTest.java
Labels: type: feature

#57 Remove unnecessary mocking in potts cell stem tests
  test/arcade/potts/agent/cell/PottsCellStemTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
Labels: type: test

#56 Add patch cell agent with random state rules
  src/arcade/patch/agent/cell/PatchCellContainer.java
  src/arcade/patch/agent/cell/PatchCellRandom.java
  test/arcade/patch/agent/cell/PatchCellRandomTest.java
Labels: type: feature

#66 Change source compatibility from 1.8 to 1.11
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  build.gradle
  test/arcade/core/sim/SeriesTest.java
  test/arcade/core/sim/output/OutputSaverTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
Labels: type: admin

#63 Unit tests for core utilities Colors class
  src/arcade/core/util/Colors.java
  test/arcade/core/util/ColorsTest.java
Labels: type: test, package: core

#69 Adding tests for core utilities Solver class
  src/arcade/core/util/Solver.java
  test/arcade/core/util/SolverTest.java
Labels: type: test, package: core

#73 Improved tests for core utilities Color class
  test/arcade/core/util/ColorsTest.java
Labels: type: test, package: core, category: util

#64 Adding tests for core utilities Graph class
  src/arcade/core/util/Graph.java
  src/arcade/patch/env/component/PatchComponentSitesGraphUtilities.java
  test/arcade/core/util/GraphTest.java
Labels: type: test, package: core, category: util

#71 Adding tests for core utilities Parameter class
  src/arcade/core/util/Parameter.java
  src/arcade/core/util/exceptions/OutOfBoundsException.java
  test/arcade/core/util/ParameterTest.java
Labels: type: test, package: core, category: util

#74 Update cell make method to return container
  src/arcade/core/agent/cell/Cell.java
  src/arcade/core/sim/Simulation.java
  src/arcade/patch/agent/cell/PatchCellCancer.java
  src/arcade/patch/agent/cell/PatchCellCancerStem.java
  src/arcade/patch/agent/cell/PatchCellRandom.java
  src/arcade/patch/agent/cell/PatchCellTissue.java
  src/arcade/patch/agent/module/PatchModuleProliferation.java
  src/arcade/patch/sim/PatchSimulation.java
  src/arcade/potts/agent/cell/PottsCellStem.java
  src/arcade/potts/agent/module/PottsModuleProliferation.java
  src/arcade/potts/sim/PottsSimulation.java
  test/arcade/core/sim/SeriesTest.java
  test/arcade/patch/agent/cell/PatchCellRandomTest.java
  test/arcade/potts/agent/cell/PottsCellStemTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
  test/arcade/potts/agent/module/PottsModuleProliferationTest.java
Labels: type: feature

#81 Add support for different patch initialization schemes
  src/arcade/patch/env/location/PatchLocationFactory.java
  src/arcade/patch/parameter.patch.xml
Labels: type: feature, package: patch

#75 Update cell constructors to use container
  build.gradle
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/cell/PatchCellCancer.java
  src/arcade/patch/agent/cell/PatchCellCancerStem.java
  src/arcade/patch/agent/cell/PatchCellContainer.java
  src/arcade/patch/agent/cell/PatchCellRandom.java
  src/arcade/patch/agent/cell/PatchCellTissue.java
  src/arcade/potts/agent/cell/PottsCell.java
  src/arcade/potts/agent/cell/PottsCellContainer.java
  src/arcade/potts/agent/cell/PottsCellStem.java
  test/arcade/patch/agent/cell/PatchCellRandomTest.java
  test/arcade/potts/agent/cell/PottsCellStemTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
Labels: type: feature

#76 Add support for linked populations in setup file
  src/arcade/core/util/GrabBag.java
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/cell/PatchCellCancer.java
  src/arcade/patch/agent/cell/PatchCellCancerStem.java
  src/arcade/patch/agent/cell/PatchCellContainer.java
  src/arcade/patch/agent/cell/PatchCellFactory.java
  src/arcade/patch/agent/cell/PatchCellRandom.java
  src/arcade/patch/agent/cell/PatchCellTissue.java
  src/arcade/patch/sim/PatchSeries.java
  src/arcade/potts/agent/cell/PottsCell.java
  src/arcade/potts/agent/cell/PottsCellContainer.java
  src/arcade/potts/agent/cell/PottsCellFactory.java
  src/arcade/potts/agent/cell/PottsCellStem.java
  src/arcade/potts/sim/PottsSeries.java
  test/arcade/patch/agent/cell/PatchCellRandomTest.java
  test/arcade/patch/sim/PatchSeriesTest.java
  test/arcade/potts/agent/cell/PottsCellFactoryTest.java
  test/arcade/potts/agent/cell/PottsCellStemTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
  test/arcade/potts/sim/PottsSeriesTest.java
Labels: type: feature
