Repository bagherilab/ARCADE, pull requests merged in 2025-02, with the labels that each got.

#147 CARCADE Refactor Step 1: Abstract T cell classes and modules
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/cell/PatchCellCART.java
  src/arcade/patch/agent/cell/PatchCellTissue.java
  src/arcade/patch/agent/module/PatchModuleMigration.java
  src/arcade/patch/agent/module/PatchModuleProliferation.java
  src/arcade/patch/agent/process/PatchProcessInflammation.java
  src/arcade/patch/agent/process/PatchProcessMetabolism.java
  src/arcade/patch/agent/process/PatchProcessMetabolismCART.java
  src/arcade/patch/parameter.patch.xml
  src/arcade/patch/util/PatchEnums.java
  test/arcade/patch/agent/cell/PatchCellCARTTest.java
  test/arcade/patch/agent/cell/PatchCellTest.java
  test/arcade/patch/agent/cell/PatchCellTissueTest.java
  test/arcade/patch/agent/process/PatchProcessInflammationTest.java
  test/arcade/patch/agent/process/PatchProcessMetabolismCARTTest.java
  test/arcade/patch/util/PatchEnumsTest.java
Labels: package: patch, migration: v2 to v3, category: agent, size: xlarge

#152 Move Plane to src/util
  src/arcade/core/util/Plane.java
  src/arcade/potts/env/location/PottsLocation.java
  test/arcade/core/util/PlaneTest.java
  test/arcade/potts/env/location/PottsLocation3DTest.java
  test/arcade/potts/env/location/PottsLocationTest.java
Labels: priority: medium, type: feature, package: core, category: util, size: small

#153 Adding PottsCellFlyNeuron class and tests
  src/arcade/potts/agent/cell/PottsCellContainer.java
  src/arcade/potts/agent/cell/PottsCellFlyNeuron.java
  src/arcade/potts/agent/module/PottsModuleQuiescence.java
  test/arcade/potts/agent/cell/PottsCellFlyNeuronTest.java
  test/arcade/potts/agent/module/PottsModuleQuiescenceTest.java
Labels: priority: medium, type: feature, package: potts, category: agent, size: small
