Repository bagherilab/ARCADE, pull requests merged in 2025-03, with the labels that each got.

#163 Bugfix for edgecase: if current location is not free and all locations are further away, when affinity is = 1
  src/arcade/core/util/GrabBag.java
  src/arcade/patch/agent/cell/PatchCell.java
  test/arcade/patch/agent/cell/PatchCellTest.java
Labels: type: bug, package: patch, size: small

#159 Add fly GMC cells
  src/arcade/core/util/exceptions/InvalidParameterValueException.java
  src/arcade/potts/agent/cell/PottsCell.java
  src/arcade/potts/agent/cell/PottsCellContainer.java
  src/arcade/potts/agent/cell/PottsCellFlyGMC.java
  src/arcade/potts/agent/module/PottsModuleFlyGMCDifferentiation.java
  test/arcade/potts/agent/cell/PottsCellFlyGMCTest.java
  test/arcade/potts/agent/cell/PottsCellTest.java
  test/arcade/potts/agent/module/PottsModuleFlyGMCDifferentiationTest.java
Labels: priority: medium, type: feature, package: potts, category: agent, size: medium

#162 added modules and tests to confirm state behavior
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/module/PatchModuleNecrosis.java
  src/arcade/patch/agent/module/PatchModuleProliferation.java
  src/arcade/patch/agent/module/PatchModuleQuiescence.java
  src/arcade/patch/agent/module/PatchModuleSenescence.java
  src/arcade/patch/parameter.patch.xml
  test/arcade/patch/agent/cell/PatchCellTest.java
Labels: type: test, package: patch, migration: v2 to v3, category: agent, size: medium

#164 Bugfix: vasculature generation
  src/arcade/core/util/Graph.java
  test/arcade/core/util/GraphTest.java
Labels: priority: high, type: bug, package: core, category: util, size: xsmall
