Repository bagherilab/ARCADE, pull requests merged in 2025-06, with the labels that each got.

#188 Add simple sensing for VEGF secretion.
  src/arcade/patch/agent/cell/PatchCell.java
  src/arcade/patch/agent/process/PatchProcessMetabolism.java
  src/arcade/patch/agent/process/PatchProcessSensing.java
  src/arcade/patch/agent/process/PatchProcessSensingSimple.java
  src/arcade/patch/agent/process/PatchProcessSignaling.java
  src/arcade/patch/parameter.patch.xml
  src/arcade/patch/util/PatchEnums.java
  test/arcade/patch/agent/process/PatchProcessSensingSimpleTest.java
Labels: package: patch, category: agent, category: env, size: small

#189 Removing some tests that don't test anything.
  test/arcade/patch/agent/process/PatchProcessInflammationTest.java
Labels: priority: low, type: test, package: patch, category: agent

#184 Changed DISTRIBUTION_REGEX to enable parsing of distributions with negative parameters
  src/arcade/core/sim/Series.java
  test/arcade/core/sim/SeriesTest.java
Labels: type: feature, package: core, category: sim, size: xsmall
